<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myapplication.DashBoard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.myapplication.Shutters"
            android:label="@string/title_activity_shutters" >
        </activity>

        <activity
            android:name="com.example.myapplication.Lights"
            android:label="@string/title_activity_lights" >
        </activity>
        <activity
            android:name="com.example.myapplication.Rooms"
            android:label="@string/title_activity_rooms" >
        </activity>
        <activity
            android:name="com.example.myapplication.Thermiques"
            android:label="@string/title_activity_thermiques" >
        </activity>

        <activity
            android:name="com.example.myapplication.Maison"
            android:label="@string/title_activity_maison" >
        </activity>
        <activity
            android:name="com.example.myapplication.Letter"
            android:label="@string/title_activity_letter" >
        </activity>
        <activity
            android:name="com.example.myapplication.Camera"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.example.myapplication.DetailLetter"
            android:label="@string/title_activity_detail_letter" >
        </activity>
    </application>

</manifest>